.container {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.para {
  text-align: center;
  width: 80%;
}

input {
  width: 400px;
  padding: 10px;
  margin: 6px;
}

button {
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
}