body {
    background-color: rgba(15, 20, 18, 0.381);
}

#container {
    display: flex;
    justify-content: center;
}

#card {
    height: 500px;
    width: 400px;
    /* border: 2px solid; */
    /* border-radius: 10px; */
}

#card img {
    top: 150px;
    margin-left: 150px;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 60px;
}

.first {
    background: url("https://camo.githubusercontent.com/0098703ad5c181d8623faea88d68cacc4ad6d36139b97938a6a9daa326e68ffa/68747470733a2f2f6d656469612e6c6963646e2e636f6d2f646d732f696d6167652f433445313241514671454850703076527151412f61727469636c652d636f7665725f696d6167652d736872696e6b5f3732305f313238302f302f313633343339333337343733323f653d3231343734383336343726763d6265746126743d4b476778466f4669695139797970356747455648765574476831484e357a3076555937326b4b5a6345354d");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-color: aqua;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: whitesmoke;
}

.seperator {
    width: 100%;
    height: 1px;
    background-color: black;
}

.footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}